body {
  background-color: #ecedf1;
}

header {
  text-align: center;
  margin: 30px 0;
}

footer {
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
}

p {
  margin-bottom: 0px;
}
